html,body
{
	padding:0px;
	margin:0px;
	
}

.main
{
	display:flex;
	
	
}
.title
{
	
	width:60%;
}
.title h2
{
	font-family:Copperplate, Papyrus, fantasy;
	color:#fff;
	font-size:45px;	
	margin-left:25px;
	position:absolute;
	top:1%;	
}

.menu-link
{	
	width:30%;
	position:absolute;
	top:8%;
	left:65%;	
}
.menu-link ul li 
{	
    list-style-type:none;
	display:inline;
}
.line
{
	text-decoration:none;
	color:#fff;
	padding:12px;
	font-size:17px;
}


.background-image
{
	background-image:url('sai.jpg');
	background-repeat:norepeat;
	background-size:cover;
	width:100%;
	height:100%;		
	filter:blur(3px);	
}
.main-block
{
	
	position:absolute;
	top:30%;
	height:50%;
    width:60%;	
	padding:3%;
	margin-left:18%;
	display:flex;
}
.first
{
	border:#fff 0.5px solid;
	border-radius:3%;
	background-color:#635548;
	height:60%;
	width:40%;
	margin:2%;
}
.first img
{
	border-radius:50px;
}
.first:hover
{
	transform: scale(1.05);
}
.first ul li
{
	list-style-type:none;
}
.first ul li:hover
{
	color:#fff;
}
.mail
{
	position:jutify;
	margin:20%;
}
.call
{
	position:jutify;
	margin:20%;
}
.wa
{
	position:jutify;
	margin:20%;
}
.utube
{
	position:jutify;
	margin:20%;
}
.bottom-box
{
	border:#000 1px solid;
	width:70%;
	margin-left:15%;
	height:50%;
	margin-top:3%;
	display:flex;
}
.map 
{
 width:50%;
	
}
.map iframe
{
	height:70%;
	width:90%;
	margin-top:8%;
	margin-left:10%;
}
	
.form-box
{
	width:40%;
	margin-left:15%;
	margin-top:3%;
	margin-right:5%;
	border:#000 1px dotted;
}
.form-box form label
{
	margin-top:5%;
}
.form-box form input
{
	width:100%;
	height:10%;
	border:none;
	border-bottom:1px #000 dotted;
	background-color:#c8ccc9;
}
.block-container
{
	border:#fff 1px solid;
	width:60%;
	margin-left:20%;
	position:absolute;
	top:40%;
	padding:20px;
}
.block-container ul li
{
	color:#fff;	
	list-style-type:none;
}
.about-us
{
	border:#fff 1px solid;
	position:absolute;
	top:30%;
	width:70%;
	margin-left:15%;
	display:flex;
}
.paragraph
{
	color:#fff;
	width:40%;
}
.frame-side
{	
	margin-left:5%;
}
.frame-side iframe
{
	width:180%;
	height:80%;
	margin-top:10%;
}
.footer
{
	display:flex;
	border:#000 1px dashed;
	background-color:#696e6a;
	text-align:center;
}
.address
{
	color:#fff;
	font-family:Copperplate, Papyrus, fantasy;
	font-size:80%;
	border:#fff 1px dotted;
	margin:10px;
	margin-left:10%;
	
}
.phone
{
	color:#fff;
	font-family:Copperplate, Papyrus, fantasy;
	font-size:80%;
	border:#fff 1px dotted;
	margin:10px;
	margin-left:5%;
	background-color:
}
.images
{
	border:#fff 1px dotted;
	height:150px;
	width:150px;
	margin:10px;
	background:url("baba.jpg");
	background-size:100% 100%;

}
.images:hover
{
	
	background-size:123% 123%;

}

.block-container
{
	width:50%;
}
.block-container ul li
{
	font-family:Copperplate, Papyrus, fantasy;
	font-size:30px;
	font-weight:bold;
}
.block-container ul li:hover
{
	transform:scale(1.18);
}
.button-block
{
	text-align:center;		
}
.button-block button
{
	font-family:Copperplate, Papyrus, fantasy;
	font-size:30px;
	border-radius:50px;
	margin:5px;
	background-color:#7d946f;
	color:#fff;
	
}
.button-block button:hover
{
	transform:scale(1.18);
	background-color:#496637;
	
}